
    .header {
    display: flex;
    justify-content: space-around;
    height: 200px;
    color: white;
    height: 400px;
    }
.header,
.footer,
.awesome {
    background-color: #1F2937;
}
.left-side {
    display: flex;
    flex-direction: column;
    margin-top: 9px;   
  }
  .right-side {
      font-size: 18px;
  color: #E5E7EB;
  }
ul {
    display: flex;
    gap: 16px;
    list-style: none; 
    margin-bottom: 80px;
   }
   .quote {
    background-color: #E5E7EB;
    height: 200px;
    }
h2 {
    text-align: center;
    margin-bottom: 16px;
    }
    .container {
        background-color: #1F2937;
    display: flex;
    }
    .awesome-container
    {
        display: flex;
        font-size: 14px;
        flex-direction: column;
        justify-content: center;
    }
.subtext {
    display: flex;
    justify-content: space-around;
    height: 200px;
    }
.text { 
     flex-wrap: wrap;
    max-width: 70px;
    font-size: 10px;
    background-color: red;
    }
.ad { 
        display: flex;
        height: 150px
    }
.footer {
    height: 75px;
}
.boxes {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.box {
    width: 400px;
    height: 100px;
    outline: auto;
    
    }

.logo {
    font-size: 24px;
    margin-bottom: 80px;
}
.subtitle-awesome{
    font-size: 48px;
    font-weight: bold;
    width: 350px;
    
}
.awesome-text {
    font-size: 18px;
    width: 400px;
    color: #E5E7EB;
}
.placeholder {
    display: flex;
    background-color: gray;
    height: 200px;
    width: 500px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}
    
